{% extends 'mainLayout.html' %}

{% block title%}About{% endblock %}

{% block content %}

<h3 class="text-center">About</h3>

The African Precision Medicine Portal is a resource which facilitates the transfer of existing knowledge from current medical practice to precision medicine practice. The portal provides researchers, clinicians, and patients a platform from which they can retrieve existing information, (including research, resources, tools and services) with regards to the investigation, implementation and improvement of precision medicine practices in African populations.
The portal is adaptable to the users’ need. Users can get information regarding genetic variants, genes, diseases and drugs. Data retrieved on this portal are specific to African populations and diaspora, making it the first comprehensive portal for precision medicine in Africa.


		<h3>How to use the Portal?</h3>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/HQKFgfMO5Sw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<h3>How to cite us?</h3>

		<ul>
		  <li>Article : Author, Title , journal , etc</li>
		  <li>Publication</li>
		</ul>

		<ul>
		  <li>The title of the portal article</li>
		  <li>DOI:12343454567</li>
		</ul>

{% endblock %}
