{% extends 'mainLayout.html' %}

{% block title%}About{% endblock %}

{% block content %}

<h3 class="text-center">About</h3>
<h3>About the Portal</h3>

<p>
		The genomics profiles of African individuals and individuals of recent African 
		descent are highly diverse. This genomic diversity is associated with susceptibility 
		and predisposition to various communicable and non-communicable diseases in these populations. 
		Similarly, the genomic diversity is also associated with the response to various therapies deployed 
		for these diseases.
</p>
<p>
		The African Genomics Medicine Portal is a resource which facilitates the transfer of existing 
		knowledge regarding the genetic underpinnings associated with disease and drug response in 
		African populations. The Portal provides researchers a platform from which they can retrieve 
		existing information and resources with regards to the investigation and implementation of 
		genomics medicine practices in African populations.
</p>
<p>
		The Portal is adaptable to the user’s need and can retrieve information regarding genetic 
		variants, genes, diseases and drugs. Data retrieved on this Portal are specific to African 
		populations and diaspora, making it the first comprehensive Portal for genomics medicine in Africa.
</p>

<h3>Portal Objectives</h3>
<ul>
  <li>Provide genotype-phenotype associations as they pertain to African populations.</li>
  <li>Provide pharmacogenomics information as they pertain to African populations.</li>
  <li>Provide disease and genetic variation information as they pertain to African populations.</li>
	<li>Access resources and materials to enable the implementation, education, and practice of genomics and precision medicine.</li>
</ul>

<h3>How to use the Portal?</h3>
<iframe width="420" height="315" src="https://www.youtube.com/embed/A6XUVjK9W4o" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/HQKFgfMO5Sw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>How to cite us?</h3>
	<ul>
	  <li>Article : Author, Title , journal , etc</li>
	  <li>Publication</li>
	</ul>
	<ul>
	  <li>The title of the portal article</li>
	  <li>DOI:12343454567</li>
	</ul>
{% endblock %}
