{% extends 'mainLayout.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h3 class="text-center">Contact Us</h3>
For Portal-specific queries, users can log a ticket using the H3ABioNet Helpdesk.
<br/>
H3ABioNet website: <a href="https://www.h3abionet.org/">www.h3abionet.org</a>
<br/>
General enquiries on H3ABioNet can be sent to  <a href="mailto:info@h3abionet.org">info@h3abionet.org</a>.
<br/>
For Bioinformatics queries or other help requests you can log a ticket at the Helpdesk.</br>
<br/>
Users are also encouraged to follow us on social media:
<ul>
    <li>Facebook: https://www.facebook.com/H3ABioNet</li>
    <li>Twitter: https://twitter.com/H3ABioNet</li>
    <li>Youtube: https://www.youtube.com/channel/UCMYQE_GYsOKY6-j8z9N6Ad</li>
</ul>
{% endblock %}
