{% extends 'mainLayout.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h3 class="text-center">Resources</h3>
<div id="accordion">
	<div class="card">
		<div class="card-header">
			<a class="card-link" data-toggle="collapse" href="#collapseOne">
				Useful links
			</a>
		</div>
		<div id="collapseOne" class="collapse show" data-parent="#accordion">
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Database Category</th>
							<th scope="col">Resource</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>All</td>
							<td>
								<a href="https://www.pharmgkb.org/">PharmGKB</a>
							</td>
						</tr>
						<tr>
							<td>All</td>
							<td>
								<a href="https://www.genome.jp/kegg/">KEGG</a>
							</td>
						</tr>
						<tr>
							<td>Variant</td>
							<td>
								<a href="https://www.ncbi.nlm.nih.gov/clinvar/">ClinVar</a>
							</td>
						</tr>
						<tr>
							<td>Variant</td>
							<td>
								<a href="https://www.ncbi.nlm.nih.gov/snp">dbSNP</a>
							</td>
						</tr>
						<tr>
							<td>Variant</td>
							<td>
								<a href="https://www.ensembl.org/info/docs/tools/vep/index.html">VEP</a>
							</td>
						</tr>
						<tr>
							<td>Variant</td>
							<td>
								<a href="https://www.pharmvar.org/">PhamVar</a>
							</td>
						</tr>
						<tr>
							<td>Variant</td>
							<td>
								<a href="https://www.ebi.ac.uk/gwas/home">GWAS Catalog</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="https://www.omim.org/">OMIM</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="https://genome.ucsc.edu/">UCSC</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="https://www.uniprot.org/">Uniprot</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="">GO</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="">Gene Card</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="">Ensembl</a>
							</td>
						</tr>
						<tr>
							<td>Gene</td>
							<td>
								<a href="">NCBI Gene</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="https://www.ensembl.org/biomart/martview/ee5b8c1f66f8f26b9c8d60cc0c2ecabf/">BioMart Ensembl</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="http://myvariant.info/">ClinGen</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="http://myvariant.info/">Monarch Initiative</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="http://myvariant.info/">MyVariant Info</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="">MESH</a>
							</td>
						</tr>
						<tr>
							<td>Disease</td>
							<td>
								<a href="">ICD11</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="https://gnomad.broadinstitute.org/">Gnomad</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="https://cpicpgx.org/">CPIC</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="https://www.ebi.ac.uk/eva/">EVA (Now Elixer)</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="">PubChem</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="">Drug Bank</a>
							</td>
						</tr>
						<tr>
							<td>Drug</td>
							<td>
								<a href="">FDA Drug Label</a>
							</td>
						</tr>
				</table>			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
			Tools and Pipelines
		</a>
		</div>
		<div id="collapseTwo" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<table class="table table-hover">
					<thead>
			<tr>
			<th scope="col">Name</th>
			<th scope="col">Resource Type</th>
			<th scope="col">Description</th>
			</tr>
			</thead>
			<tr>
			<td><a href=http://www.scandb.org/>SCAN</a></td>
			<td>Data Analysis Tool</td>
			<td>SNP annotation, GWAS analysis tool</td>
			</tr>

			<tr>
			<td><a href=https://omictools.com/pharmacogenetics-category>Pharmacogenomic Software Tools</a></td>
			<td>Data Analysis Tool</td>
			<td>Various tools for pharmacogenomics data analysis.</td>
			</tr>

			<tr>
			<td><a href=https://www.pharmgkb.org/page/pharmcat>PharmCAT</a></td>
			<td>Data Analysis Tool</td>
			<td>Pharmacogenomics Clinical Annotation Tool</td>
			</tr>
			</table>			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
				Online Courses
			</a>
		</div>
		<div id="collapseThree" class="collapse" data-parent="#accordion">
			<div class="card-body">
				<table class="table table-hover">
					<thead>
				<tr>
				<th scope="col">Name</th>
				<th scope="col">Resource Type</th>
				<th scope="col">Description</th>
				</tr>
				</thead>
				<tr>
				<td><a href=https://www.coursera.org/learn/genomic-precision-medicine>Genomics & Precision Medicine - Coursera</a></td>
				<td>Online Course</td>
				<td><p>Course aims to provide participants with some baseline knowledge of genomics, an overview of the clinical applications of genomic medicine, the skills to evaluate the clinical validity and utility of new tests, and an appreciation of the associated ethical and social issues inherent in this field.</p></td>
				</tr>
				<tr>
				<td><a href="https://www.coursera.org/learn/personalizedmed">Case Studies in Personalized Medicine</a></td>
				<td>Online Course</td>
				<td><p>This course will present short primers in genetics and mechanisms underlying variability in drug responses. A series of case studies will be used to illustrate principles of how genetics are being brought to bear on refining diagnoses and on personalizing treatment in rare and common diseases.</p></td>
				</tr>

				<tr>
				<td><a href="https://www.coursera.org/learn/datascimed">Data Science in Stratified Healthcare and Precision Medicine</a></td>
				<td>Online Course</td>
				<td><p>In this course, you will learn about some of the different types of data and computational methods involved in stratified healthcare and precision medicine.  You will have a hands-on experience of working with such data.  And you will learn from leaders in the field about successful case studies.</p></td>
				</tr>

				<tr>
				<td><a href="https://www.futurelearn.com/courses/personalized-medicine">Using Personalized Medicine and Pharmacogenetics</a></td>
				<td>Online Course</td>
				<td><p>On this course you will explore their potential, taking a close look at the human genome, genome and exome sequencing, pharmacogenetics tests, a review of current best evidence and the use of personalized medicine in cancer therapy.</p></td>
				</tr>

				<tr>
				<td><a href="http://www.rxgenomix.com/courses/pharma">Pharmacogenomics Course</a></td>
				<td>Online Course</td>
				<td><p>A Training Program in Pharmacogenomics for both the practicing professional and for pharmacy students. This 16-hour RxGenomix self-paced course was designed to help working pharmacists learn about the science of pharmacogenomics and how it may be applied in their clinical practice.<p></td>
				</tr>
				</table>			</div>
		</div>
	</div>
</div>



{% endblock %}
