{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}

{% block js %}
	<script src="{% static 'js/search_details.js' %}" type="text/JavaScript"></script>
	<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/JavaScript"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js" type="text/JavaScript"></script>
{% endblock %}

{% block content %}

<div class="panel">
  <div class="result-summary">
    <h2></h2>
  </div>
  {% if variants %}
    <table id="detail-table" class="display table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>rsid</th>
          <th>Allele</th>
          <th>Disease Phenotype</th>
          <th>Reference Id</th>
          <th>Chromosome</th>
          <th>P-Value</th>
        </tr>
      </thead>
      <tbody>
        {% for variant in variants %}
          <tr>
              <td>{{ variant.rs_id }}</td>
              <td>{{ variant.allele }}</td>
              <td>{{ variant.disease_phenotype }}</td>
              <td>{{ variant.reference_id }}</td>
              <td>{{ variant.chromosome }}</td>
              <td>{{ variant.p_value }}</td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

{% endblock %}
