{% extends 'mainLayout.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h3 class="text-center">Data Summary</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Total Number</th>
    </tr>
  </thead>
  <tr>
    <td>GENES</a></td>
    <td>{{ gene_count | default_if_none:'0' }}</td>
  </tr>
  <tr>
    <td>DRUGS</td>
    <td>{{ drug_count | default_if_none:'0' }}</td>
  </tr>
  <tr>
    <td>DISEASE </td>
    <td>{{ disease_count | default:'0' }}</td>
  </tr>
  <tr>
    <td>VARIANTS</td>
    <td>{{ variant_count | default_if_none:'0' }}</td>
  </tr>

</table>

{% endblock %}
